<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.sis.controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStudents</servlet-name>
        <servlet-class>com.sis.controller.RegisterStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStudent</servlet-name>
        <servlet-class>com.sis.controller.RegisterStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsRegister</servlet-name>
        <servlet-class>com.sis.controller.StudentsRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsLogin</servlet-name>
        <servlet-class>com.sis.controller.StudentsLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getImage</servlet-name>
        <servlet-class>com.sis.controller.getImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateData</servlet-name>
        <servlet-class>com.sis.dao.UpdateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentData</servlet-name>
        <servlet-class>com.sis.controller.UpdateStudentData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordForget</servlet-name>
        <servlet-class>com.sis.controller.PasswordForget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillExamForm</servlet-name>
        <servlet-class>com.sis.controller.FillExamForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillExamData</servlet-name>
        <servlet-class>FillExamData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>com.sis.controller.Result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.sis.dao.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminData</servlet-name>
        <servlet-class>com.sis.controller.AdminData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyResister</servlet-name>
        <servlet-class>com.sis.controller.FacultyResister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyRegister</servlet-name>
        <servlet-class>com.sis.controller.FacultyRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyImage</servlet-name>
        <servlet-class>com.sis.controller.FacultyImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyLogin</servlet-name>
        <servlet-class>com.sis.controller.FacultyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyLogin1</servlet-name>
        <servlet-class>com.sis.controller.FacultyLogin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFaculty</servlet-name>
        <servlet-class>com.sis.controller.UpdateFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyPasswordForget</servlet-name>
        <servlet-class>com.sis.controller.FacultyPasswordForget</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStudents</servlet-name>
        <url-pattern>/RegisterStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStudent</servlet-name>
        <url-pattern>/RegisterStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsRegister</servlet-name>
        <url-pattern>/StudentsRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsLogin</servlet-name>
        <url-pattern>/StudentsLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getImage</servlet-name>
        <url-pattern>/getImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateData</servlet-name>
        <url-pattern>/UpdateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentData</servlet-name>
        <url-pattern>/UpdateStudentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordForget</servlet-name>
        <url-pattern>/PasswordForget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillExamForm</servlet-name>
        <url-pattern>/FillExamForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillExamData</servlet-name>
        <url-pattern>/FillExamData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/Result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminData</servlet-name>
        <url-pattern>/AdminData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyResister</servlet-name>
        <url-pattern>/FacultyResister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyRegister</servlet-name>
        <url-pattern>/FacultyRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyImage</servlet-name>
        <url-pattern>/FacultyImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyLogin</servlet-name>
        <url-pattern>/FacultyLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyLogin1</servlet-name>
        <url-pattern>/FacultyLogin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFaculty</servlet-name>
        <url-pattern>/UpdateFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyPasswordForget</servlet-name>
        <url-pattern>/FacultyPasswordForget</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
